/* Specific Fonts from GoogleFont */

/* Montserrat font
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 
*/

.montserrat-std-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-std-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* End of font area */

a {
    color: black;
    font-size: 2em;
}

h1 {
    color: black;
    font-size: 4em;
    text-align: center;
}

p {
    color: black;
    font-size: 1.5em;
    text-align: justify;
}

.keywords {
    color: #A5B4FC;
}
