/* --- Reset default browser CSS rules --- */
* {
    margin: 0;
}

body {
    background-color: #1F2039;
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    color: #F9F8FF;
}

header,
footer {
    background-color: white;
    padding: 20px 50px 20px 50px;
    /*P3C2*/
}

section {
    padding: 80px;
    /*P3C2*/
}

p {
    font-size: 1.1em;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;
}

a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
    font-size: 1em;
    padding: 20px 30px;
}

a.cta:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}

.carre-contenu {
    padding: 50px;
    /*P3C2*/
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
}

a.icons:hover {
    opacity: 0.5;
}

.a-propos {
    width: 50%;
    /*P3C2 - si width pas défini, margin auto sans effet */
    margin: auto;
    /*P3C2*/
}

.carre-contenu h2,
ul {
    margin-top: 30px;
    /*P3C2*/
}

.flex-nav-container,
.flex-footer-container {
    display: flex;
    /*P3C3*/
    justify-content: space-between;
    /*P3C3*/
}

.index-introduction {
    display: flex;
    /*P3C3*/
    flex-direction: row;
    margin: auto;
    max-width: 900px;
}

.index-introduction .keywords {
    color: #A5B4FC;
}

.index-introduction,
h1 {
    margin-bottom: 15px;
    /*P3C3*/
}

.index-introduction p {
    margin-bottom: 30px;
    /*P3C3*/
}

.index-introduction div {
    padding-right: 80px;
    /*P3C3*/
}

.index-last_project {
    background-color: white;
    color: #242424;
}

.index-last_project h2 {
    text-align: center;
    margin-bottom: 80px;
}

.index-last_project div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}