/* Specific Fonts from GoogleFont */
/* --- Font class area --- */

.montserrat-std-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.manrope-std-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --- End of specific font area --- */


p {
    color: black;
    font-size: 1.1em;
}

h1 {
    color: #A5B4FC;
    font-size: 3.5em;
}

a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}

li {
    font-size: 1em;
}

.keywords {
    color: #A5B4FC;
}