.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;    /*P3C2*/
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}

.carre-contenu + div {
    text-align: center;
}

.carre-contenu h2 {
    margin-top: 30px;    /*P3C2*/
}

.carre-contenu ul {
    margin-top: 30px;    /*P3C2*/
}

h2 {
    margin-bottom: 80px;
}

h1,
h2 {
    text-align: center;
}

table {
    font-size: 1.1em;
    color: #F9F8FF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid  #a5b4fc; /* auront une bordure de 1px */
}

th {
    padding: 15px;
}

td {
    padding: 40px;
}

@media screen and (max-width: 996px) {
    .about_pricing {
        display: none;
    }
}