.index-last_project {
    background-color: white;
    padding: 8Opx;
}

.index-last_project h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 550;
}

.index-last_project div {
    display: flex;
    /* Not required - default properties - just easier to read */
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.index-introduction {
    display: flex;
    /* Not required - default properties - just easier to read */
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
}

.index-introduction .keywords {
    color: #A5B4FC;
    font-style: normal;
}

.index-introduction h1 {
    margin-bottom: 15px;
    /*P3C3*/
}

.index-introduction p {
    margin-bottom: 30px;
    /*P3C3*/
}

.index-introduction div {
    padding-right: 80px;
    /*P3C3*/
}

.index-form h2 {
    color: #A5B4FC;
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.form-name_email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-couple_label_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /*Not shrink the element and take all space available in the container*/
    flex: 1;
}

input,
textarea {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    font-size: 1em;
}

@media screen and (max-width: 996px) {
    /*ICI*/
}